#jumboh1 {
    text-align: center;
    font-size: 56px;
    font-family: "Titillium Web";
    text-shadow: 0px 2px 2px lightgray;
}

.jumbotron {
    border-width: 1px;
    border-style: solid;
}

.jumbotron p {
    text-align: center;
    font-size: 20px;
    
}

.col-lg-3 {
    text-align: center;
}

.bluebutton {
    background-color: #5397E0;
}

.greenbutton {
    background-color: #53E09C;
}

.yellowbutton {
    background-color: #DDE053;
}

.purplebutton {
    background-color: #5653E0;
}

.colorbutton {
    font-family: "Titillium Web";
    border: 2px 2px 2px;
    border-color: black;
}